<div class="container">
    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="mdi-navigation-menu"></i></a>
</div>
<ul id="nav-mobile" class="side-nav fixed">
    <li class="logo"><a id="logo-container" href="/" class="brand-logo">
            <img id="front-page-logo" src="/web/public/img/logo.png" alt="">
    <li class="bold"><a rel="external nofollow" target="_blank" href="http://cs4vn.vn/" class="waves-effect waves-teal">Trang chủ</a></li>
    <li class="bold"><a rel="external nofollow" target="_blank" href="https://www.facebook.com/groups/familycs4vn/?ref=ts&fref=ts" class="waves-effect waves-teal">Group</a></li>
    <li class="bold"><a rel="external nofollow" target="_blank" href="http://donate.cs4vn.vn" class="waves-effect waves-teal">Donate</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold"><a rel="external nofollow" target="_blank" class="collapsible-header  waves-effect waves-teal">Tải game</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a rel="external nofollow" target="_blank" href="https://www.fshare.vn/folder/BV887Z6K5MG5">Fshare</a></li>
                        <li><a rel="external nofollow" target="_blank" href="http://up.4share.vn/d/66555454515f5f50">4share</a></li>
                        <li><a rel="external nofollow" target="_blank" href="https://drive.google.com/folderview?id=0BzCVd8Wx_xS9TVdRUVNtcWd0bXM&usp=sharing">Google drive</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a rel="external nofollow" target="_blank" class="collapsible-header  waves-effect waves-teal">Hướng dẫn</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a rel="external nofollow" target="_blank" href="http://forum.gamevn.com/showthread.php?1120580-CS4VN-CSGO-Non-Steam-Fake-Steam-&p=23979230#post23979230">GameVN</a></li>
                        <li><a rel="external nofollow" target="_blank" href="http://www.vn-zoom.com/f224/cs-go-counterstrike-global-offensive-cs4vn-non-steam-2014-a-2930858.html#post20552195">VN-Zoom</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a rel="external nofollow" target="_blank" class="collapsible-header  waves-effect waves-teal">Link khác</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a rel="external nofollow" target="_blank" href="https://www.facebook.com/groups/familycs4vn/permalink/803423123065053/">Hack Report</a></li>
                        <li><a rel="external nofollow" target="_blank" href="https://www.facebook.com/groups/familycs4vn/permalink/856771831063515/">Bug report</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>