<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteBase /
	RewriteCond %{THE_REQUEST} \s(/public/\S+)\s
	RewriteRule ^ /public/%1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ web/index.php [QSA,L]
</IfModule>