<script id="PlayerListLoadingTemplate" type="text/html">
    <div class="center loadingPlaceHolder">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <p>Loading...</p>
    </div>
</script>